%h1#welcome= t('homepage.welcome')
#description= t('homepage.description')
%hr.space

#recent_games_container
  %h2#recent_games_label= t('homepage.recent_games.label')

  = render_uploads_widget @uploads
