.idea
.bundle
webrat-*.html
config/initializers/1_settings.rb
db/*.sqlite3
app/stylesheets/.sass-cache
vendor/plugins/discuz_auth/app/stylesheets/.sass-cache
public/system
sgf_parser
tmp
log
.sass-cache
