[submodule "vendor/gems/sgf_parser"]
	path = vendor/gems/sgf_parser
	url = git://github.com/gcao/sgf_parser.git
[submodule "public/jsgameviewer"]
	path = public/jsgameviewer
	url = git://github.com/gcao/jsgameviewer.git
[submodule "vendor/gems/cool_games"]
	path = vendor/gems/cool_games
	url = git@github.com:gcao/cool_games.git
