[submodule "vendor/plugins/active_scaffold"]
	path = vendor/plugins/active_scaffold
	url = git://github.com/activescaffold/active_scaffold.git
[submodule "vendor/gems/sgf_parser-0.1.0"]
	path = vendor/gems/sgf_parser-0.1.0
	url = git://github.com/gcao/sgf_parser.git
[submodule "vendor/gems/discuz_int-0.1.0"]
	path = vendor/gems/discuz_int-0.1.0
	url = git://github.com/gcao/discuz_int.git
[submodule "vendor/gems/aspect4r-0.1.0"]
	path = vendor/gems/aspect4r-0.1.0
	url = git://github.com/gcao/aspect4r.git
[submodule "vendor/plugins/discuz_int"]
	path = vendor/plugins/discuz_int
	url = git://github.com/gcao/discuz_int.git
