/*
Syntax error: Invalid variable: "$sidebar_columns = floor($blueprint_grid_columns / 3)".
        on line 34 of /Users/gcao/proj/gocool/app/stylesheets/screen.sass

29:     +container
30:   #header, #footer
31:     +column($blueprint_grid_columns)
32:   #sidebar
33:     // One third of the grid columns, rounding down. With 24 cols, this is 8.
34:     $sidebar_columns = floor($blueprint_grid_columns / 3)
35:     +column($sidebar_columns)
36:   #content
37:     // Two thirds of the grid columns, rounding up.
38:     // With 24 cols, this is 16.
39:     $content_columns = ceil(2 * $blueprint_grid_columns / 3)

Backtrace:
/Users/gcao/proj/gocool/app/stylesheets/screen.sass:34
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/sass-3.1.10/lib/sass/../sass/engine.rb:603:in `parse_variable'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/sass-3.1.10/lib/sass/../sass/engine.rb:547:in `parse_line'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/sass-3.1.10/lib/sass/../sass/engine.rb:456:in `build_tree'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/sass-3.1.10/lib/sass/../sass/engine.rb:475:in `append_children'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/sass-3.1.10/lib/sass/../sass/engine.rb:474:in `each'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/sass-3.1.10/lib/sass/../sass/engine.rb:474:in `append_children'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/sass-3.1.10/lib/sass/../sass/engine.rb:465:in `build_tree'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/sass-3.1.10/lib/sass/../sass/engine.rb:458:in `each'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/sass-3.1.10/lib/sass/../sass/engine.rb:458:in `build_tree'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/sass-3.1.10/lib/sass/../sass/engine.rb:475:in `append_children'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/sass-3.1.10/lib/sass/../sass/engine.rb:474:in `each'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/sass-3.1.10/lib/sass/../sass/engine.rb:474:in `append_children'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/sass-3.1.10/lib/sass/../sass/engine.rb:465:in `build_tree'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/sass-3.1.10/lib/sass/../sass/engine.rb:458:in `each'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/sass-3.1.10/lib/sass/../sass/engine.rb:458:in `build_tree'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/sass-3.1.10/lib/sass/../sass/engine.rb:475:in `append_children'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/sass-3.1.10/lib/sass/../sass/engine.rb:474:in `each'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/sass-3.1.10/lib/sass/../sass/engine.rb:474:in `append_children'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/sass-3.1.10/lib/sass/../sass/engine.rb:330:in `_to_tree'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/sass-3.1.10/lib/sass/../sass/engine.rb:300:in `_render'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/sass-3.1.10/lib/sass/../sass/engine.rb:248:in `render'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/sass-3.1.10/lib/sass/../sass/util.rb:297:in `silence_sass_warnings'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/sass-3.1.10/lib/sass/../sass/engine.rb:248:in `render'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/sass-3.1.10/lib/sass/../sass/plugin/compiler.rb:319:in `update_stylesheet'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/sass-3.1.10/lib/sass/../sass/plugin/compiler.rb:181:in `update_stylesheets'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/sass-3.1.10/lib/sass/../sass/plugin/compiler.rb:175:in `each'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/sass-3.1.10/lib/sass/../sass/plugin/compiler.rb:175:in `update_stylesheets'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/sass-3.1.10/lib/sass/../sass/plugin/compiler.rb:173:in `each'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/sass-3.1.10/lib/sass/../sass/plugin/compiler.rb:173:in `update_stylesheets'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/sass-3.1.10/lib/sass/../sass/plugin.rb:81:in `update_stylesheets'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/sass-3.1.10/lib/sass/../sass/plugin.rb:54:in `check_for_updates'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/sass-3.1.10/lib/sass/../sass/plugin/rack.rb:51:in `call'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/actionpack-3.1.1/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/rack-1.3.4/lib/rack/etag.rb:23:in `call'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/rack-1.3.4/lib/rack/conditionalget.rb:25:in `call'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/actionpack-3.1.1/lib/action_dispatch/middleware/head.rb:14:in `call'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/actionpack-3.1.1/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/actionpack-3.1.1/lib/action_dispatch/middleware/flash.rb:243:in `call'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/rack-1.3.4/lib/rack/session/abstract/id.rb:195:in `context'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/rack-1.3.4/lib/rack/session/abstract/id.rb:190:in `call'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/actionpack-3.1.1/lib/action_dispatch/middleware/cookies.rb:331:in `call'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/activerecord-3.1.1/lib/active_record/query_cache.rb:62:in `call'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/activerecord-3.1.1/lib/active_record/connection_adapters/abstract/connection_pool.rb:477:in `call'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/actionpack-3.1.1/lib/action_dispatch/middleware/callbacks.rb:29:in `call'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/activesupport-3.1.1/lib/active_support/callbacks.rb:392:in `_run_call_callbacks'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/activesupport-3.1.1/lib/active_support/callbacks.rb:81:in `send'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/activesupport-3.1.1/lib/active_support/callbacks.rb:81:in `run_callbacks'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/actionpack-3.1.1/lib/action_dispatch/middleware/callbacks.rb:28:in `call'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/actionpack-3.1.1/lib/action_dispatch/middleware/reloader.rb:68:in `call'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/rack-1.3.4/lib/rack/sendfile.rb:101:in `call'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/actionpack-3.1.1/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/actionpack-3.1.1/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/railties-3.1.1/lib/rails/rack/logger.rb:13:in `call'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/rack-1.3.4/lib/rack/methodoverride.rb:24:in `call'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/rack-1.3.4/lib/rack/runtime.rb:17:in `call'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/activesupport-3.1.1/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/rack-1.3.4/lib/rack/lock.rb:15:in `call'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/actionpack-3.1.1/lib/action_dispatch/middleware/static.rb:53:in `call'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/hoptoad_notifier-2.4.11/lib/hoptoad_notifier/user_informer.rb:12:in `call'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/railties-3.1.1/lib/rails/engine.rb:456:in `call'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/railties-3.1.1/lib/rails/rack/content_length.rb:16:in `call'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/railties-3.1.1/lib/rails/rack/log_tailer.rb:14:in `call'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/rack-1.3.4/lib/rack/handler/mongrel.rb:77:in `process'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/mongrel-1.1.5/lib/mongrel.rb:159:in `process_client'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/mongrel-1.1.5/lib/mongrel.rb:158:in `each'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/mongrel-1.1.5/lib/mongrel.rb:158:in `process_client'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/mongrel-1.1.5/lib/mongrel.rb:285:in `run'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/mongrel-1.1.5/lib/mongrel.rb:285:in `initialize'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/mongrel-1.1.5/lib/mongrel.rb:285:in `new'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/mongrel-1.1.5/lib/mongrel.rb:285:in `run'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/mongrel-1.1.5/lib/mongrel.rb:268:in `initialize'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/mongrel-1.1.5/lib/mongrel.rb:268:in `new'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/mongrel-1.1.5/lib/mongrel.rb:268:in `run'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/rack-1.3.4/lib/rack/handler/mongrel.rb:38:in `run'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/rack-1.3.4/lib/rack/server.rb:265:in `start'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/railties-3.1.1/lib/rails/commands/server.rb:70:in `start'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/railties-3.1.1/lib/rails/commands.rb:54
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/railties-3.1.1/lib/rails/commands.rb:49:in `tap'
/Users/gcao/.rvm/gems/ruby-1.8.7-p334@gocool/gems/railties-3.1.1/lib/rails/commands.rb:49
script/rails:6:in `require'
script/rails:6
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid variable: \"$sidebar_columns = floor($blueprint_grid_columns / 3)\".\A         on line 34 of /Users/gcao/proj/gocool/app/stylesheets/screen.sass\A \A 29:     +container\A 30:   #header, #footer\A 31:     +column($blueprint_grid_columns)\A 32:   #sidebar\A 33:     // One third of the grid columns, rounding down. With 24 cols, this is 8.\A 34:     $sidebar_columns = floor($blueprint_grid_columns / 3)\A 35:     +column($sidebar_columns)\A 36:   #content\A 37:     // Two thirds of the grid columns, rounding up.\A 38:     // With 24 cols, this is 16.\A 39:     $content_columns = ceil(2 * $blueprint_grid_columns / 3)"; }
