html, body { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

html { font-size: 100.01%; }

div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, code, del, dfn, em, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

blockquote, q { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; quotes: "" ""; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }

th, td, caption { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; text-align: left; font-weight: normal; vertical-align: middle; }

table { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; border-collapse: separate; border-spacing: 0; vertical-align: middle; }

a img { border: none; }

body.bp body { line-height: 1.5; font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; color: #333333; font-size: 75%; }
body.bp h1, body.bp h2, body.bp h3, body.bp h4, body.bp h5, body.bp h6 { font-weight: normal; color: #222222; }
body.bp h1 img, body.bp h2 img, body.bp h3 img, body.bp h4 img, body.bp h5 img, body.bp h6 img { margin: 0; }
body.bp h1 { font-size: 3em; line-height: 1; margin-bottom: 0.50em; }
body.bp h2 { font-size: 2em; margin-bottom: 0.75em; }
body.bp h3 { font-size: 1.5em; line-height: 1; margin-bottom: 1.00em; }
body.bp h4 { font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; }
body.bp h5 { font-size: 1em; font-weight: bold; margin-bottom: 1.50em; }
body.bp h6 { font-size: 1em; font-weight: bold; }
body.bp p { margin: 0 0 1.5em; }
body.bp p img.left { display: inline; float: left; margin: 1.5em 1.5em 1.5em 0; padding: 0; }
body.bp p img.right { display: inline; float: right; margin: 1.5em 0 1.5em 1.5em; padding: 0; }
body.bp a { text-decoration: underline; color: #000099; }
body.bp a:visited { color: #000066; }
body.bp a:focus { color: black; }
body.bp a:hover { color: black; }
body.bp a:active { color: #cc0099; }
body.bp blockquote { margin: 1.5em; color: #666666; font-style: italic; }
body.bp strong { font-weight: bold; }
body.bp em { font-style: italic; }
body.bp dfn { font-style: italic; font-weight: bold; }
body.bp sup, body.bp sub { line-height: 0; }
body.bp abbr, body.bp acronym { border-bottom: 1px dotted #666666; }
body.bp address { margin: 0 0 1.5em; font-style: italic; }
body.bp del { color: #666666; }
body.bp pre { margin: 1.5em 0; white-space: pre; }
body.bp pre, body.bp code, body.bp tt { font: 1em "andale mono", "lucida console", monospace; line-height: 1.5; }
body.bp li ul, body.bp li ol { margin: 0; }
body.bp ul, body.bp ol { margin: 0 1.5em 1.5em 0; padding-left: 3.333em; }
body.bp ul { list-style-type: disc; }
body.bp ol { list-style-type: decimal; }
body.bp dl { margin: 0 0 1.5em 0; }
body.bp dl dt { font-weight: bold; }
body.bp dd { margin-left: 1.5em; }
body.bp table { margin-bottom: 1.4em; width: 100%; }
body.bp th { font-weight: bold; }
body.bp thead th { background: #c3d9ff; }
body.bp th, body.bp td, body.bp caption { padding: 4px 10px 4px 5px; }
body.bp tr.even td { background: #e5ecf9; }
body.bp tfoot { font-style: italic; }
body.bp caption { background: #eeeeee; }
body.bp .quiet { color: #666666; }
body.bp .loud { color: #111111; }
body.bp .container { width: 950px; margin: 0 auto; overflow: hidden; *zoom: 1; }
body.bp .column, body.bp div.span-1, body.bp div.span-2, body.bp div.span-3, body.bp div.span-4, body.bp div.span-5, body.bp div.span-6, body.bp div.span-7, body.bp div.span-8, body.bp div.span-9, body.bp div.span-10, body.bp div.span-11, body.bp div.span-12, body.bp div.span-13, body.bp div.span-14, body.bp div.span-15, body.bp div.span-16, body.bp div.span-17, body.bp div.span-18, body.bp div.span-19, body.bp div.span-20, body.bp div.span-21, body.bp div.span-22, body.bp div.span-23, body.bp div.span-24 { display: inline; float: left; margin-right: 10px; }
* html body.bp .column, * html body.bp div.span-1, * html body.bp div.span-2, * html body.bp div.span-3, * html body.bp div.span-4, * html body.bp div.span-5, * html body.bp div.span-6, * html body.bp div.span-7, * html body.bp div.span-8, * html body.bp div.span-9, * html body.bp div.span-10, * html body.bp div.span-11, * html body.bp div.span-12, * html body.bp div.span-13, * html body.bp div.span-14, * html body.bp div.span-15, * html body.bp div.span-16, * html body.bp div.span-17, * html body.bp div.span-18, * html body.bp div.span-19, * html body.bp div.span-20, * html body.bp div.span-21, * html body.bp div.span-22, * html body.bp div.span-23, * html body.bp div.span-24 { overflow-x: hidden; }
body.bp .last, body.bp div.last { margin-right: 0; }
body.bp .span-1 { width: 30px; }
body.bp .span-2 { width: 70px; }
body.bp .span-3 { width: 110px; }
body.bp .span-4 { width: 150px; }
body.bp .span-5 { width: 190px; }
body.bp .span-6 { width: 230px; }
body.bp .span-7 { width: 270px; }
body.bp .span-8 { width: 310px; }
body.bp .span-9 { width: 350px; }
body.bp .span-10 { width: 390px; }
body.bp .span-11 { width: 430px; }
body.bp .span-12 { width: 470px; }
body.bp .span-13 { width: 510px; }
body.bp .span-14 { width: 550px; }
body.bp .span-15 { width: 590px; }
body.bp .span-16 { width: 630px; }
body.bp .span-17 { width: 670px; }
body.bp .span-18 { width: 710px; }
body.bp .span-19 { width: 750px; }
body.bp .span-20 { width: 790px; }
body.bp .span-21 { width: 830px; }
body.bp .span-22 { width: 870px; }
body.bp .span-23 { width: 910px; }
body.bp .span-24, body.bp div.span-24 { width: 950px; margin: 0; }
body.bp input.span-1, body.bp textarea.span-1, body.bp select.span-1 { width: 30px !important; }
body.bp input.span-2, body.bp textarea.span-2, body.bp select.span-2 { width: 70px !important; }
body.bp input.span-3, body.bp textarea.span-3, body.bp select.span-3 { width: 110px !important; }
body.bp input.span-4, body.bp textarea.span-4, body.bp select.span-4 { width: 150px !important; }
body.bp input.span-5, body.bp textarea.span-5, body.bp select.span-5 { width: 190px !important; }
body.bp input.span-6, body.bp textarea.span-6, body.bp select.span-6 { width: 230px !important; }
body.bp input.span-7, body.bp textarea.span-7, body.bp select.span-7 { width: 270px !important; }
body.bp input.span-8, body.bp textarea.span-8, body.bp select.span-8 { width: 310px !important; }
body.bp input.span-9, body.bp textarea.span-9, body.bp select.span-9 { width: 350px !important; }
body.bp input.span-10, body.bp textarea.span-10, body.bp select.span-10 { width: 390px !important; }
body.bp input.span-11, body.bp textarea.span-11, body.bp select.span-11 { width: 430px !important; }
body.bp input.span-12, body.bp textarea.span-12, body.bp select.span-12 { width: 470px !important; }
body.bp input.span-13, body.bp textarea.span-13, body.bp select.span-13 { width: 510px !important; }
body.bp input.span-14, body.bp textarea.span-14, body.bp select.span-14 { width: 550px !important; }
body.bp input.span-15, body.bp textarea.span-15, body.bp select.span-15 { width: 590px !important; }
body.bp input.span-16, body.bp textarea.span-16, body.bp select.span-16 { width: 630px !important; }
body.bp input.span-17, body.bp textarea.span-17, body.bp select.span-17 { width: 670px !important; }
body.bp input.span-18, body.bp textarea.span-18, body.bp select.span-18 { width: 710px !important; }
body.bp input.span-19, body.bp textarea.span-19, body.bp select.span-19 { width: 750px !important; }
body.bp input.span-20, body.bp textarea.span-20, body.bp select.span-20 { width: 790px !important; }
body.bp input.span-21, body.bp textarea.span-21, body.bp select.span-21 { width: 830px !important; }
body.bp input.span-22, body.bp textarea.span-22, body.bp select.span-22 { width: 870px !important; }
body.bp input.span-23, body.bp textarea.span-23, body.bp select.span-23 { width: 910px !important; }
body.bp input.span-24, body.bp textarea.span-24, body.bp select.span-24 { width: 950px !important; }
body.bp .append-1 { padding-right: 40px; }
body.bp .append-2 { padding-right: 80px; }
body.bp .append-3 { padding-right: 120px; }
body.bp .append-4 { padding-right: 160px; }
body.bp .append-5 { padding-right: 200px; }
body.bp .append-6 { padding-right: 240px; }
body.bp .append-7 { padding-right: 280px; }
body.bp .append-8 { padding-right: 320px; }
body.bp .append-9 { padding-right: 360px; }
body.bp .append-10 { padding-right: 400px; }
body.bp .append-11 { padding-right: 440px; }
body.bp .append-12 { padding-right: 480px; }
body.bp .append-13 { padding-right: 520px; }
body.bp .append-14 { padding-right: 560px; }
body.bp .append-15 { padding-right: 600px; }
body.bp .append-16 { padding-right: 640px; }
body.bp .append-17 { padding-right: 680px; }
body.bp .append-18 { padding-right: 720px; }
body.bp .append-19 { padding-right: 760px; }
body.bp .append-20 { padding-right: 800px; }
body.bp .append-21 { padding-right: 840px; }
body.bp .append-22 { padding-right: 880px; }
body.bp .append-23 { padding-right: 920px; }
body.bp .prepend-1 { padding-left: 40px; }
body.bp .prepend-2 { padding-left: 80px; }
body.bp .prepend-3 { padding-left: 120px; }
body.bp .prepend-4 { padding-left: 160px; }
body.bp .prepend-5 { padding-left: 200px; }
body.bp .prepend-6 { padding-left: 240px; }
body.bp .prepend-7 { padding-left: 280px; }
body.bp .prepend-8 { padding-left: 320px; }
body.bp .prepend-9 { padding-left: 360px; }
body.bp .prepend-10 { padding-left: 400px; }
body.bp .prepend-11 { padding-left: 440px; }
body.bp .prepend-12 { padding-left: 480px; }
body.bp .prepend-13 { padding-left: 520px; }
body.bp .prepend-14 { padding-left: 560px; }
body.bp .prepend-15 { padding-left: 600px; }
body.bp .prepend-16 { padding-left: 640px; }
body.bp .prepend-17 { padding-left: 680px; }
body.bp .prepend-18 { padding-left: 720px; }
body.bp .prepend-19 { padding-left: 760px; }
body.bp .prepend-20 { padding-left: 800px; }
body.bp .prepend-21 { padding-left: 840px; }
body.bp .prepend-22 { padding-left: 880px; }
body.bp .prepend-23 { padding-left: 920px; }
body.bp .pull-1, body.bp .pull-2, body.bp .pull-3, body.bp .pull-4, body.bp .pull-5, body.bp .pull-6, body.bp .pull-7, body.bp .pull-8, body.bp .pull-9, body.bp .pull-10, body.bp .pull-11, body.bp .pull-12, body.bp .pull-13, body.bp .pull-14, body.bp .pull-15, body.bp .pull-16, body.bp .pull-17, body.bp .pull-18, body.bp .pull-19, body.bp .pull-20, body.bp .pull-21, body.bp .pull-22, body.bp .pull-23, body.bp .pull-24 { display: inline; float: left; position: relative; }
body.bp .pull-1 { margin-left: -40px; }
body.bp .pull-2 { margin-left: -80px; }
body.bp .pull-3 { margin-left: -120px; }
body.bp .pull-4 { margin-left: -160px; }
body.bp .pull-5 { margin-left: -200px; }
body.bp .pull-6 { margin-left: -240px; }
body.bp .pull-7 { margin-left: -280px; }
body.bp .pull-8 { margin-left: -320px; }
body.bp .pull-9 { margin-left: -360px; }
body.bp .pull-10 { margin-left: -400px; }
body.bp .pull-11 { margin-left: -440px; }
body.bp .pull-12 { margin-left: -480px; }
body.bp .pull-13 { margin-left: -520px; }
body.bp .pull-14 { margin-left: -560px; }
body.bp .pull-15 { margin-left: -600px; }
body.bp .pull-16 { margin-left: -640px; }
body.bp .pull-17 { margin-left: -680px; }
body.bp .pull-18 { margin-left: -720px; }
body.bp .pull-19 { margin-left: -760px; }
body.bp .pull-20 { margin-left: -800px; }
body.bp .pull-21 { margin-left: -840px; }
body.bp .pull-22 { margin-left: -880px; }
body.bp .pull-23 { margin-left: -920px; }
body.bp .pull-24 { margin-left: -960px; }
body.bp .push-1, body.bp .push-2, body.bp .push-3, body.bp .push-4, body.bp .push-5, body.bp .push-6, body.bp .push-7, body.bp .push-8, body.bp .push-9, body.bp .push-10, body.bp .push-11, body.bp .push-12, body.bp .push-13, body.bp .push-14, body.bp .push-15, body.bp .push-16, body.bp .push-17, body.bp .push-18, body.bp .push-19, body.bp .push-20, body.bp .push-21, body.bp .push-22, body.bp .push-23, body.bp .push-24 { display: inline; float: right; position: relative; }
body.bp .push-1 { margin: 0 -40px 1.5em 40px; }
body.bp .push-2 { margin: 0 -80px 1.5em 80px; }
body.bp .push-3 { margin: 0 -120px 1.5em 120px; }
body.bp .push-4 { margin: 0 -160px 1.5em 160px; }
body.bp .push-5 { margin: 0 -200px 1.5em 200px; }
body.bp .push-6 { margin: 0 -240px 1.5em 240px; }
body.bp .push-7 { margin: 0 -280px 1.5em 280px; }
body.bp .push-8 { margin: 0 -320px 1.5em 320px; }
body.bp .push-9 { margin: 0 -360px 1.5em 360px; }
body.bp .push-10 { margin: 0 -400px 1.5em 400px; }
body.bp .push-11 { margin: 0 -440px 1.5em 440px; }
body.bp .push-12 { margin: 0 -480px 1.5em 480px; }
body.bp .push-13 { margin: 0 -520px 1.5em 520px; }
body.bp .push-14 { margin: 0 -560px 1.5em 560px; }
body.bp .push-15 { margin: 0 -600px 1.5em 600px; }
body.bp .push-16 { margin: 0 -640px 1.5em 640px; }
body.bp .push-17 { margin: 0 -680px 1.5em 680px; }
body.bp .push-18 { margin: 0 -720px 1.5em 720px; }
body.bp .push-19 { margin: 0 -760px 1.5em 760px; }
body.bp .push-20 { margin: 0 -800px 1.5em 800px; }
body.bp .push-21 { margin: 0 -840px 1.5em 840px; }
body.bp .push-22 { margin: 0 -880px 1.5em 880px; }
body.bp .push-23 { margin: 0 -920px 1.5em 920px; }
body.bp .push-24 { margin: 0 -960px 1.5em 960px; }
body.bp .prepend-top { margin-top: 1.5em; }
body.bp .append-bottom { margin-bottom: 1.5em; }
body.bp .clear { clear: both; }
body.bp .nowrap { white-space: nowrap; }
body.bp .clearfix { overflow: hidden; *zoom: 1; }
body.bp .small { font-size: 0.8em; margin-bottom: 1.875em; line-height: 1.875em; }
body.bp .large { font-size: 1.2em; line-height: 2.5em; margin-bottom: 1.25em; }
body.bp .first { margin-left: 0; padding-left: 0; }
body.bp .last { margin-right: 0; padding-right: 0; }
body.bp .top { margin-top: 0; padding-top: 0; }
body.bp .bottom { margin-bottom: 0; padding-bottom: 0; }
body.bp .showgrid { background: url('/images/grid.png?1259871871'); }
body.bp .error { padding: 0.8em; margin-bottom: 1em; border: 2px solid #dddddd; background: #fbe3e4; color: #8a1f11; border-color: #fbc2c4; }
body.bp .error a { color: #8a1f11; }
body.bp .notice { padding: 0.8em; margin-bottom: 1em; border: 2px solid #dddddd; background: #fff6bf; color: #514721; border-color: #ffd324; }
body.bp .notice a { color: #514721; }
body.bp .success { padding: 0.8em; margin-bottom: 1em; border: 2px solid #dddddd; background: #e6efc2; color: #264409; border-color: #c6d880; }
body.bp .success a { color: #264409; }
body.bp .hide { display: none; }
body.bp .highlight { background: yellow; }
body.bp .added { background: #006600; color: white; }
body.bp .removed { background: #990000; color: white; }
body.bp .box { padding: 1.5em; margin-bottom: 1.5em; background: #e5ecf9; }
body.bp div.border { padding-right: 4px; margin-right: 5px; border-right: 1px solid #eeeeee; }
body.bp div.colborder { padding-right: 24px; margin-right: 25px; border-right: 1px solid #eeeeee; }
body.bp hr { background: #dddddd; color: #dddddd; clear: both; float: none; width: 100%; height: 0.1em; margin: 0 0 1.45em; border: none; }
body.bp hr.space { background: #dddddd; color: #dddddd; clear: both; float: none; width: 100%; height: 0.1em; margin: 0 0 1.45em; border: none; background: white; color: white; visibility: hidden; }
body.bp form.inline { line-height: 3; }
body.bp form.inline p { margin-bottom: 0; }

form.bp label { font-weight: bold; }
form.bp fieldset { padding: 1.4em; margin: 0 0 1.5em 0; }
form.bp legend { font-weight: bold; font-size: 1.2em; }
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password] { margin: 0.5em 0; background-color: white; padding: 5px; }
form.bp input.title { font-size: 1.5em; }
form.bp input[type=checkbox], form.bp input.checkbox, form.bp input[type=radio], form.bp input.radio { position: relative; top: 0.25em; }
form.bp textarea { margin: 0.5em 0; padding: 5px; }
form.bp select { margin: 0.5em 0; }
form.bp fieldset { border: 1px solid #cccccc; }
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password], form.bp textarea, form.bp select { border: 1px solid #bbbbbb; }
form.bp input.text:focus, form.bp input.title:focus, form.bp input[type=email]:focus, form.bp input[type=text]:focus, form.bp input[type=password]:focus, form.bp textarea:focus, form.bp select:focus { border: 1px solid #666666; }
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password] { width: 300px; }
form.bp textarea { width: 390px; height: 250px; }

body.three-col #container { width: 950px; margin: 0 auto; overflow: hidden; *zoom: 1; }
body.three-col #header, body.three-col #footer { display: inline; float: left; margin-right: 10px; width: 950px; }
* html body.three-col #header, * html body.three-col #footer { overflow-x: hidden; }
body.three-col #sidebar { display: inline; float: left; margin-right: 10px; width: 310px; }
* html body.three-col #sidebar { overflow-x: hidden; }
body.three-col #content { display: inline; float: left; margin-right: 0; width: 630px; }
* html body.three-col #content { overflow-x: hidden; }

body.bp .active-scaffold { margin: 5px 0; }
body.bp .active-scaffold form, body.bp .active-scaffold table, body.bp .active-scaffold p, body.bp .active-scaffold div, body.bp .active-scaffold fieldset { margin: 0; padding: 0; }
body.bp .active-scaffold table { width: 100%; border-collapse: separate; }
body.bp .active-scaffold a { color: #0066cc; text-decoration: none; }
body.bp .active-scaffold a:visited { color: #0066cc; text-decoration: none; }
body.bp .active-scaffold a.disabled { color: #999999; }
body.bp .active-scaffold a:hover { background-color: #ffff88; }
body.bp .active-scaffold .clear-fix { clear: both; }
body.bp noscript.active-scaffold { border-left: solid 5px #ff6666; background-color: #ffbbbb; font-size: 11px; font-weight: bold; padding: 5px 20px 5px 5px; color: #333333; }
body.bp .active-scaffold-header { position: relative; }
body.bp .blue-theme .active-scaffold-header { background-color: #005cb8; }
body.bp .active-scaffold-header h2 { padding: 2px 0px; margin: 0; color: #555555; font: bold 160% arial, sans-serif; }
body.bp .blue-theme .active-scaffold-header h2 { color: white; padding: 2px 5px 4px 5px; }
body.bp .active-scaffold-header div.actions a { float: right; font: bold 14px arial; letter-spacing: -1px; text-decoration: none; padding: 1px 2px; white-space: nowrap; margin-left: 5px; background-position: 1px 50%; background-repeat: no-repeat; }
body.bp .view .active-scaffold-header div.actions a { float: left; }
body.bp .blue-theme .active-scaffold-header div.actions a { color: white; }
body.bp .active-scaffold-header div.actions a.disabled { color: #666666; opacity: 0.5; }
body.bp .blue-theme .active-scaffold-header div.actions a.disabled { color: white; opacity: 0.5; }
body.bp .active-scaffold-header div.actions a.new, body.bp .active-scaffold-header div.actions a.new_existing, body.bp .active-scaffold-header div.actions a.show_search { padding-left: 19px; background-position: 1px 50%; background-repeat: no-repeat; }
body.bp .active-scaffold-header div.actions a.new, body.bp .active-scaffold-header div.actions a.new_existing { background-image: url(../../images/active_scaffold/default/add.gif); }
body.bp .active-scaffold-header div.actions a.show_search { background-image: url(../../images/active_scaffold/default/magnifier.png); }
body.bp .blue-theme .active-scaffold-header div.actions a:hover { background-color: #378cdf; }
body.bp .active-scaffold-header div.actions { position: absolute; right: 5px; top: 5px; text-align: right; }
body.bp .active-scaffold-header div.actions a.disabled:hover { background-color: transparent; cursor: default; }
body.bp .active-scaffold th { background-color: #555555; text-align: left; }
body.bp .active-scaffold th a, body.bp .active-scaffold th p { font: bold 11px arial, sans-serif; display: block; background-color: #555555; }
body.bp .active-scaffold th a { color: white; padding: 2px 15px 2px 5px; }
body.bp .active-scaffold th a:visited { color: white; padding: 2px 15px 2px 5px; }
body.bp .active-scaffold th p { color: #eeeeee; padding: 2px 5px; }
body.bp .active-scaffold th a:hover { background-color: black; color: #ffff88; }
body.bp .active-scaffold th.sorted { background-color: #333333; }
body.bp .active-scaffold th.asc a { background: #333333 url(../../images/active_scaffold/default/arrow_up.gif) right 50% no-repeat; }
body.bp .active-scaffold th.asc a:hover { background: #333333 url(../../images/active_scaffold/default/arrow_up.gif) right 50% no-repeat; }
body.bp .active-scaffold th.desc a { background: #333333 url(../../images/active_scaffold/default/arrow_down.gif) right 50% no-repeat; }
body.bp .active-scaffold th.desc a:hover { background: #333333 url(../../images/active_scaffold/default/arrow_down.gif) right 50% no-repeat; }
body.bp .active-scaffold th.loading a { background: #333333 url(../../images/active_scaffold/default/indicator-small.gif) right 50% no-repeat; }
body.bp .active-scaffold th.loading a:hover { background: #333333 url(../../images/active_scaffold/default/indicator-small.gif) right 50% no-repeat; }
body.bp .active-scaffold tr.record td { padding: 5px 4px; color: #333333; font-family: Verdana, sans-serif; font-size: 11px; background-color: #e6f2ff; border-bottom: solid 1px #c5dbf7; border-left: solid 1px #c5dbf7; }
body.bp .active-scaffold tr.even-record td { background-color: white; border-left: solid 1px #dddddd; }
body.bp .active-scaffold tr.record td.sorted { background-color: #b9dcff; border-bottom: solid 1px #afd0f5; }
body.bp .active-scaffold tr.even-record td.sorted { background-color: #e6f2ff; border-bottom: solid 1px #afd0f5; }
body.bp .active-scaffold tbody.records td.empty { color: #999999; text-align: center; }
body.bp .active-scaffold td.numeric { text-align: right; }
body.bp .active-scaffold-calculations td { text-align: right; }
body.bp .active-scaffold tr.record td.actions { border-right: solid 1px #cccccc; padding: 0; /* min-width: 1% */ }
body.bp .active-scaffold tr.record td.actions table { float: right; width: auto; margin-right: 5px; }
body.bp .active-scaffold tr.record td.actions table td { border: none; text-align: right; padding: 0 2px; }
body.bp .active-scaffold tr.record td.actions a { font: bold 11px verdana, sans-serif; letter-spacing: -1px; padding: 2px; margin: 0 2px; line-height: 16px; white-space: nowrap; }
body.bp .active-scaffold .view { background-color: #daffcd; padding: 4px; border: solid 1px #7fcf00; }
body.bp .active-scaffold tbody.records td.inline-adapter-cell .view { border-top: none; }
body.bp .active-scaffold .before-header td.inline-adapter-cell .view { border-bottom: none; }
body.bp .active-scaffold a.inline-adapter-close { float: right; text-indent: -4000px; width: 16px; height: 17px; background: url(../../images/active_scaffold/default/close.gif) 0 0 no-repeat; }
body.bp .blue-theme .active-scaffold .active-scaffold-header, body.bp .blue-theme .active-scaffold .active-scaffold-footer { background-color: #1f7f00; background: transparent; }
body.bp .active-scaffold .active-scaffold .active-scaffold-header { margin-right: 15px; }
body.bp .active-scaffold .active-scaffold .active-scaffold-header h2 { font-size: 12px; font-weight: bold; }
body.bp .blue-theme .active-scaffold .active-scaffold-header h2 { color: #444444; }
body.bp .active-scaffold .active-scaffold .active-scaffold-footer { color: #444444; }
body.bp .active-scaffold .active-scaffold .active-scaffold-header div.actions { top: 0px; right: 0px; }
body.bp .active-scaffold .active-scaffold .active-scaffold-header div.actions a { font: bold 11px verdana, sans-serif; padding: 0 2px 1px 17px; }
body.bp .blue-theme .active-scaffold .active-scaffold-header div.actions a { color: #0066cc; }
body.bp .blue-theme .active-scaffold .active-scaffold-header div.actions a:visited { color: #0066cc; }
body.bp .blue-theme .active-scaffold .active-scaffold-header div.actions a:hover { background-color: #ffff88; }
body.bp .active-scaffold .active-scaffold td { background-color: #ecffe7; border-bottom: solid 1px #cdf7c5; border-left: solid 1px #cdf7c5; }
body.bp .active-scaffold .active-scaffold td.inline-adapter-cell { background-color: #ffffbb; padding: 4px; border: solid 1px #dddf37; border-top: none; }
body.bp .active-scaffold .active-scaffold .active-scaffold-footer { font-size: 11px; }
body.bp .active-scaffold-calculations td { background-color: #eeeeee; border-top: 2px solid #005cb8; font: bold 12px arial, sans-serif; }
body.bp .active-scaffold .active-scaffold-footer { padding: 3px 0px 2px 0px; border-bottom: none; font: bold 12px arial, sans-serif; }
body.bp .blue-theme .active-scaffold-footer { background-color: #005cb8; color: #cccccc; }
body.bp .active-scaffold-footer .active-scaffold-pagination { float: right; white-space: nowrap; margin-right: 5px; }
body.bp .blue-theme .active-scaffold-footer .active-scaffold-records { margin-left: 5px; }
body.bp .active-scaffold-footer a { text-decoration: none; letter-spacing: 0; padding: 0 2px; margin: 0 -2px; font: bold 12px arial, sans-serif; }
body.bp .blue-theme .active-scaffold-footer a { color: white; }
body.bp .blue-theme .active-scaffold-footer a:visited { color: white; }
body.bp .blue-theme .active-scaffold-footer a:hover { background-color: #378cdf; }
body.bp .active-scaffold-footer .next { margin-left: 0; padding-left: 5px; border-left: solid 1px #cccccc; }
body.bp .active-scaffold-footer .previous { margin-right: 0; padding-right: 5px; border-right: solid 1px #cccccc; }
body.bp .active-scaffold .messages-container, body.bp .active-scaffold .active-scaffold .messages-container { padding: 0; margin: 0 7px; border: none; }
body.bp .active-scaffold .empty-message, body.bp .active-scaffold .filtered-message { background-color: #e8e8e8; padding: 4px; text-align: center; color: #666666; }
body.bp .active-scaffold .message { font-size: 11px; font-weight: bold; padding: 5px 20px 5px 5px; color: #333333; position: relative; margin: 2px 7px; line-height: 12px; }
body.bp .active-scaffold .message a { position: absolute; right: 10px; top: 4px; padding: 0; font: bold 11px verdana, sans-serif; letter-spacing: -1px; }
body.bp .active-scaffold .messages-container .message { margin: 0; }
body.bp .active-scaffold .error-message { border-left: solid 5px #ff6666; background-color: #ffbbbb; }
body.bp .active-scaffold .warning-message { border-left: solid 5px #ffff66; background-color: #ffffbb; }
body.bp .active-scaffold .info-message { border-left: solid 5px #6666ff; background-color: #bbbbff; }
body.bp .active-scaffold .errorExplanation { background-color: #ffcccc; margin: 2px 0; border: solid 1px #ff6666; }
body.bp .active-scaffold fieldset { clear: both; }
body.bp .active-scaffold .errorExplanation h2 { padding: 2px 5px; color: #333333; font-size: 11px; margin: 0; letter-spacing: 0; font-family: Verdana; background-color: #ff6666; }
body.bp .active-scaffold .errorExplanation ul { margin: 0; padding: 0 2px 4px 25px; list-style: disc; }
body.bp .active-scaffold .errorExplanation p { font-size: 11px; padding: 2px 5px; font-family: Verdana; margin: 0; }
body.bp .active-scaffold .errorExplanation ul li { font: bold 11px verdana; letter-spacing: -1px; margin: 0; padding: 0; background-color: transparent; }
body.bp .active-scaffold .loading-indicator { vertical-align: text-bottom; width: 16px; margin: 0; }
body.bp .active-scaffold .active-scaffold-header .loading-indicator { margin-bottom: 3px; }
body.bp .active-scaffold .show-view dl { margin-left: 5px; }
body.bp .active-scaffold .show-view dt { width: 12em; float: left; clear: left; font: normal 11px verdana, sans-serif; color: #555555; line-height: 16px; }
body.bp .active-scaffold .show-view dd { float: left; font: bold 14px arial; padding-left: 5px; margin-bottom: 5px; }
body.bp .active-scaffold .submit { font-weight: bold; font-size: 14px; font-family: Arial, sans-serif; letter-spacing: 0; margin: 0; margin-top: 5px; }
body.bp .active-scaffold form p { clear: both; }
body.bp .active-scaffold fieldset { border: none; }
body.bp .active-scaffold h4 { padding: 2px; margin: 0; text-transform: none; color: #1f7f00; letter-spacing: -1px; font: bold 16px arial; }
body.bp .active-scaffold h5 { padding: 2px; margin: 0; text-transform: none; color: #1f7f00; letter-spacing: -1px; font: bold 16px arial; padding: 0; margin: 5px 0 2px 0; font-size: 14px; letter-spacing: 0; }
body.bp .active-scaffold ol { clear: both; float: none; padding: 2px; margin-left: 5px; list-style: none; }
body.bp .active-scaffold p.form-footer { clear: both; }
body.bp .active-scaffold a.cancel, body.bp .active-scaffold p.form-footer a { font: bold 14px arial, sans-serif; letter-spacing: 0; }
body.bp .active-scaffold li.form-element { clear: both; padding-top: 2px; }
body.bp .active-scaffold label { font: normal 11px verdana, sans-serif; color: #555555; }
body.bp .active-scaffold li.form-element dt { float: left; width: 12em; padding: 6px 0; }
body.bp .active-scaffold li.form-element dd { float: left; }
body.bp .active-scaffold .form dd { margin: 0; }
body.bp .active-scaffold .description { color: #999999; font-size: 10px; margin-left: 5px; }
body.bp .active-scaffold .required label { font-weight: bold; }
body.bp .active-scaffold label.example { font-size: 11px; font-family: arial; color: #888888; }
body.bp .active-scaffold input.text-input, body.bp .active-scaffold select { font: bold 16px arial; letter-spacing: -1px; border: solid 1px #1f7f00; }
body.bp .active-scaffold input.text-input { padding: 2px 5px; }
body.bp .active-scaffold .fieldWithErrors input, body.bp .active-scaffold .fieldWithErrors textarea, body.bp .active-scaffold .fieldWithErrors select { border: solid 1px red; }
body.bp .active-scaffold select { padding: 1px; }
body.bp .active-scaffold input.example { color: #aaaaaa; }
body.bp .active-scaffold select:focus, body.bp .active-scaffold input.text-input:focus { background-color: #ffffcc; }
body.bp .active-scaffold textarea { font-family: Arial, sans-serif; font-size: 12px; padding: 1px; border: solid 1px #1f7f00; }
body.bp .active-scaffold .checkbox-list { padding-left: 0px; }
body.bp .active-scaffold .checkbox-list li { padding-right: 5px; display: inline; }
body.bp .active-scaffold .checkbox-list li label { padding: 0 0 0 2px; }
body.bp .active-scaffold .draggable-list { float: left; width: 300px; margin-right: 15px; min-height: 30px; max-height: 100px; overflow: auto; background-color: #ffff88; }
body.bp .active-scaffold .draggable-list.hover { opacity: 0.5; }
body.bp .active-scaffold .draggable-list.selected { background-color: #7fcf00; }
body.bp .active-scaffold .draggable-list li { display: block; }
body.bp .active-scaffold .draggable-list input { display: none; }
body.bp .active-scaffold li.sub-section { clear: left; padding: 5px 0; }
body.bp .active-scaffold .sub-form { float: left; clear: left; padding: 5px 0; padding-left: 5px; }
body.bp .active-scaffold .sub-form h5 { margin-left: -5px; }
body.bp .active-scaffold .sub-form table { width: auto; background: none; }
body.bp .active-scaffold .sub-form table td { width: auto; background: none; }
body.bp .active-scaffold .sub-form table th { font: normal 10px verdana, sans-serif; color: #555555; padding: 0 5px 0 1px; background: none; }
body.bp .active-scaffold .horizontal-sub-form td label { display: none; }
body.bp .active-scaffold .sub-form .checkbox-list { padding: 0 2px 2px 2px; background-color: white; border: solid 1px #1f7f00; }
body.bp .active-scaffold .sub-form .checkbox-list label { display: block; }
body.bp .active-scaffold .sub-form table td { border: none; background-color: transparent; padding: 1px; vertical-align: top; color: #999999; }
body.bp .active-scaffold .sub-form .actions { vertical-align: middle; background-color: transparent; clear: left; }
body.bp .active-scaffold .sub-form .association-record a.destroy { font-weight: bold; display: block; height: 16px; padding: 0; width: 16px; text-indent: -4000px; background: url(../../images/active_scaffold/default/cross.png) 0 0 no-repeat; }
body.bp .active-scaffold .sub-form .locked a.destroy { display: none; }
body.bp .active-scaffold .sub-form .association-record a { font: bold 12px arial; }
body.bp .active-scaffold .sub-form input.text-input, body.bp .active-scaffold .sub-form select { letter-spacing: 0; font: bold 12px arial; }
body.bp .active-scaffold .sub-form .footer-wrapper { margin-top: 3px; margin-right: 10px; }
body.bp .active-scaffold .sub-form .footer { color: #999999; padding: 3px 5px; }
body.bp .active-scaffold .sub-form .footer select, body.bp .active-scaffold .sub-form .footer input { font-weight: bold; font-size: 12px; padding: 0; }
body.bp .active-scaffold a.visibility-toggle { font-size: 100%; }
body.bp .active-scaffold-found { float: left; }

div.jqueryslidemenu { font: bold 12px Verdana; background: #414141; width: 100%; }
div.jqueryslidemenu ul { margin: 10px 0 0 0; padding: 0; list-style-type: none; }
div.jqueryslidemenu ul li { position: relative; display: inline; float: left; }
div.jqueryslidemenu ul li a { display: block; background: #414141; padding: 8px 10px; border-right: 1px solid #777788; color: #2d2b2b; text-decoration: none; }
div.jqueryslidemenu ul li.active a { background: #777777; }
div.jqueryslidemenu ul li#locale_zh_cn { float: right; }
div.jqueryslidemenu ul li#locale_zh_cn a { border-right: none; }
div.jqueryslidemenu ul li#locale_en_us { float: right; }

* html .jqueryslidemenu ul li a { display: inline-block; }

.jqueryslidemenu ul li a:link, .jqueryslidemenu ul li a:visited { color: white; }
.jqueryslidemenu ul li a:hover { background: black; color: white; }
.jqueryslidemenu ul li ul { position: absolute; left: 0; display: block; visibility: hidden; }
.jqueryslidemenu ul li ul li { display: list-item; float: none; }
.jqueryslidemenu ul li ul li ul { top: 0; }
.jqueryslidemenu ul li ul li a { font: normal 13px Verdana; width: 160px; padding: 5px; margin: 0; border-top-width: 0; border-bottom: 1px solid gray; }

.jqueryslidemenuz ul li ul li a:hover { background: #eff9ff; color: black; }

.downarrowclass { position: absolute; top: 12px; right: 7px; }

.rightarrowclass { position: absolute; top: 6px; right: 5px; }

.ac_results { padding: 0px; border: 1px solid WindowFrame; background-color: Window; overflow: hidden; }
.ac_results ul { width: 100%; list-style-position: outside; list-style: none; padding: 0; margin: 0; }
.ac_results iframe { display: none; display/**/: block; position: absolute; top: 0; left: 0; z-index: -1; filter: mask(); width: 3000px; height: 3000px; }
.ac_results li { margin: 0px; padding: 2px 5px; cursor: pointer; display: block; width: 100%; font: menu; font-size: 12px; overflow: hidden; }

.ac_loading { background: Window url("../images/loading10.gif") right center no-repeat; }

.ac_over { background-color: Highlight; color: HighlightText; }

div .pagination { position: relative; float: right; }

div.digg_pagination { background: white; /* self-clearing method: */ }
div.digg_pagination a, div.digg_pagination span { padding: 0.2em 0.5em; display: block; float: left; margin-right: 1px; }
div.digg_pagination span.disabled { color: #999999; border: 1px solid #dddddd; }
div.digg_pagination span.current { font-weight: bold; background: #2e6ab1; color: white; border: 1px solid #2e6ab1; }
div.digg_pagination a { text-decoration: none; color: #105cb6; border: 1px solid #9aafe5; }
div.digg_pagination a:hover, div.digg_pagination a:focus { color: #000033; border-color: #000033; }
div.digg_pagination .page_info { background: #2e6ab1; color: white; padding: 0.4em 0.6em; width: 22em; margin-bottom: 0.3em; text-align: center; }
div.digg_pagination .page_info b { color: #000033; background: #6aa6ed; padding: 0.1em 0.25em; }
div.digg_pagination:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
* html div.digg_pagination { height: 1%; }
*:first-child + html div.digg_pagination { overflow: hidden; }

.apple_pagination { background: #f1f1f1; border: 1px solid #e5e5e5; text-align: center; padding: 1em; }
.apple_pagination a, .apple_pagination span { padding: 0.2em 0.3em; }
.apple_pagination span.disabled { color: #aaaaaa; }
.apple_pagination span.current { font-weight: bold; background: transparent url(apple-circle.gif) no-repeat 50% 50%; }
.apple_pagination a { text-decoration: none; color: black; }
.apple_pagination a:hover, .apple_pagination a:focus { text-decoration: underline; }

.flickr_pagination { text-align: center; padding: 0.3em; }
.flickr_pagination a, .flickr_pagination span { padding: 0.2em 0.5em; }
.flickr_pagination span.disabled { color: #aaaaaa; }
.flickr_pagination span.current { font-weight: bold; color: #ff0084; }
.flickr_pagination a { border: 1px solid #dddddd; color: #0063dc; text-decoration: none; }
.flickr_pagination a:hover, .flickr_pagination a:focus { border-color: #003366; background: #0063dc; color: white; }
.flickr_pagination .page_info { color: #aaaaaa; padding-top: 0.8em; }
.flickr_pagination .prev_page, .flickr_pagination .next_page { border-width: 2px; }
.flickr_pagination .prev_page { margin-right: 1em; }
.flickr_pagination .next_page { margin-left: 1em; }

.calendar_date_select { color: white; border: #777777 1px solid; display: block; width: 218px; z-index: 1000; }

iframe.ie6_blocker { position: absolute; z-index: 999; }

.calendar_date_select thead th { font-weight: bold; background-color: #aaaaaa; border-top: 1px solid #777777; border-bottom: 1px solid #777777; color: white !important; }
.calendar_date_select .cds_buttons { text-align: center; padding: 5px 0px; background-color: #555555; }
.calendar_date_select .cds_footer { background-color: black; padding: 3px; font-size: 12px; text-align: center; }
.calendar_date_select table { margin: 0px !important; padding: 0px; }
.calendar_date_select .cds_header { background-color: #cccccc; border-bottom: 2px solid #aaaaaa; text-align: center; }
.calendar_date_select .cds_header span { font-size: 15px; color: black; font-weight: bold; }
.calendar_date_select select { font-size: 11px; }
.calendar_date_select .cds_header a { width: 22px; height: 20px; text-decoration: none; font-size: 14px; color: black !important; }
.calendar_date_select .cds_header a:hover { color: white; }
.calendar_date_select .cds_header a.prev { float: left; }
.calendar_date_select .cds_header a.next { float: right; }
.calendar_date_select .cds_header a.close { float: right; display: none; }
.calendar_date_select .cds_header select.month { width: 90px; }
.calendar_date_select .cds_header select.year { width: 61px; }
.calendar_date_select .cds_buttons a { color: white; font-size: 9px; }
.calendar_date_select td { font-size: 12px; width: 24px; height: 21px; text-align: center; vertical-align: middle; background-color: white; }
.calendar_date_select td.weekend { background-color: #eeeeee; border-left: 1px solid #dddddd; border-right: 1px solid #dddddd; }
.calendar_date_select td div { color: black; }
.calendar_date_select td div.other { color: #cccccc; }
.calendar_date_select td.selected div { color: white; }
.calendar_date_select tbody td { border-bottom: 1px solid #dddddd; }
.calendar_date_select td.selected { background-color: #777777; }
.calendar_date_select td:hover { background-color: #cccccc; }
.calendar_date_select td.today { border: 1px dashed #999999; }
.calendar_date_select td.disabled div { color: #e6e6e6; }

.fieldWithErrors .calendar_date_select { border: 2px solid red; }

body.bp .active-scaffold th { color: white; padding: 2px 5px 2px 5px; }
body.bp .active-scaffold th a, body.bp .active-scaffold th a.visited { padding-left: 0px; padding-right: 0px; }
body.bp .active-scaffold td.numeric { text-align: left; }
body.bp .active-scaffold tr.inline-adapter td.inline-adapter-cell { padding: 0px; }

#container { background: white; }

.no-margin { margin: 0 !important; }

body.bp hr.space0 { background: none repeat scroll 0 0 white; border: medium none; clear: both; color: white; float: none; height: 0; margin: 0; width: 100%; }
body.bp hr.space5 { background: none repeat scroll 0 0 white; border: medium none; clear: both; color: white; float: none; height: 5px; margin: 0; width: 100%; }

span.note { font-style: italic; color: #666666; }

.sgf_good { color: #008800; }

.sgf_bad { background: black; color: red; font-weight: bold; padding: 0 4px; }

.sgf_rest { color: #888888; }

.vdError { color: red; font-size: small; }

table .records tr.record td.winner { background: #bbffbb; }

table#games_search_form, table#pairs_search_form { width: auto; }

table#games_search_form input[type='text'], table#pairs_search_form input[type='text'] { width: 150px; }

table#games_search_form label, table#pairs_search_form label { position: relative; }
table#games_search_form label em.msg, table#pairs_search_form label em.msg { position: absolute; text-align: right; left: 0px; top: -3px; width: 158px; font-size: 0.8em; font-style: normal; line-height: 2.5; color: #aaaaaa; }

#cursor { background-color: lightyellow; border: 1px solid black; font-size: 10px; left: -300px; padding: 5px; position: absolute; visibility: hidden; width: 150px; z-index: 100; }

#pointer { left: -300px; position: absolute; visibility: hidden; z-index: 101; }

#pairs_widget_container .platform_name { font-style: italic; }

.header_with_link { width: 100% !important; height: 38px; }

a.edit_link { padding-left: 20px; background: url(../../images/icons/edit.gif) no-repeat; }

a.delete_link { padding-left: 20px; background: url(../../images/icons/delete.gif) no-repeat; }

a.create_link { padding-left: 20px; background: url(../../images/icons/create.gif) no-repeat; }

.header_separator { padding-bottom: 8px; border-bottom: 3px solid #e6e7e1; }

.form_row { margin-top: 0.5em; }

form.bp fieldset.no-border { border: none; }
form.bp textarea, form.bp select { margin: 0; }
form.bp input.text, form.bp input.title, form.bp input[type="text"] { margin: 0; padding: 3px 5px; border: 1px solid #cccccc; }
form.bp input.failedField, form.bp textarea.failedField { -moz-background-clip: border; -moz-background-inline-policy: continuous; -moz-background-origin: padding; background: #ffaaaa none repeat scroll 0 0; }

span.required_field { color: red; }

.form_legend { font-size: small; color: #666666; }

#upload_email { width: 413px; }

#upload_data, #upload_url, #upload_description, #upload_description2, #upload_description3 { width: 590px; }

table#games_search_form, table#pairs_search_form { margin-bottom: 0; }
table#games_search_form th, table#games_search_form td, table#pairs_search_form th, table#pairs_search_form td { vertical-align: top; }
table#games_search_form th *, table#games_search_form td *, table#pairs_search_form th *, table#pairs_search_form td * { margin-top: 0; }

.ac_results { padding: 3px 5px !important; }
.ac_results ul { margin: 0px !important; }
.ac_results ul li { padding: 0px; text-align: left; }

.upload_search_label1, .upload_search_input1, .upload_search_label2, .upload_search_input2 { display: inline-block; }

.upload_search_label1 { width: 80px; }

.upload_search_label2 { width: 40px; }

#recent_games_label { font-size: extra-large; margin-bottom: 0px; height: 15px; }
