- content_for :footer do
  = render "shared/jsgameviewer"

= show_flash 'span-24'
.span-24
  %a(href="javascript:window.close();")= t('link.close')
  &nbsp;&nbsp;&nbsp;&nbsp;
  = render :partial => "shared/show_game", :locals => {:url => game_source_url(@game_source, :format => :sgf)}
