- content_for :footer do
  = render "shared/jsgameviewer"
  
%h1= @page_header

= show_flash 'span-24'
.span-24
  %a(href="javascript:history.back();")= t('link.back')
  &nbsp;&nbsp;&nbsp;&nbsp;
  %a.jsgv{:href => game_source_url(@game_source, :format => :sgf)}= t('link.download_sgf')
  