- content_for :head do
  = render "shared/jsgameviewer"
  
%h1= @page_header

= show_flash 'span-24'
.span-24
  %a.jsgv{:href => game_source_url(@game_source, :format => :sgf)}= t('shared.download_sgf')