#footer
  .wrap.s_clear
    #footlink
      %p
        %strong
          %a{ :href => "http://www.go-cool.org", :target => "_blank" }
            =t('discuz.forum_name')
        %span.pipe
          |
        %a{ :href => "mailto:gcao99@gmail.com" }
          =t('discuz.contact_us')
        %span.pipe
          |
        %a{ :href => "stats.php" }
          =t('discuz.forum_stats')
        %span.pipe
          |
        %a{ :href => "archiver/", :target => "_blank" }
          Archiver
        %span.pipe
          |
        %a{ :href => "wap/", :target => "_blank" }
          WAP
      %p.smalltext
        GMT+8, 2009-12-6 09:33
    #rightinfo
      %p
        Powered by
        %strong
          %a{ :href => "http://www.discuz.net", :target => "_blank" }
            Discuz!
        %em
          7.1
      %p.smalltext
        &copy; 2001-2009
        %a{ :href => "http://www.comsenz.com", :target => "_blank" }
          Comsenz Inc.
