#header
  .wrap.s_clear
    %h2
      %a{ :href => '/bbs/index.php', :title => "Games Library" }= image_tag "logo.gif"
    #umenu
      -if logged_in?
        = render 'discuz/logged_in'
      -else
        = render 'discuz/logged_out'
    #menu
      %ul
        %li.current
          %a#mn_index{ :href => "/app", :hidefocus => "true" }
            =t('discuz.gocool_app')
        %li
          %span.frameswitch
            %a.frameon(target="_top" href="/bbs/frame.php?frameon=yes")
              =t('discuz.split_mode')
        %li
          %a#mn_index{ :href => "/bbs/index.php", :hidefocus => "true" }
            =t('discuz.forum')
        %li.menu_2
          %a#mn_search{ :href => "/bbs/search.php", :hidefocus => "true" }
            =t('discuz.search')
        %li.menu_4
          %a#mn_faq{ :href => "/bbs/faq.php", :hidefocus => "true" }
            =t('discuz.help')
        %li.menu_5
          %a{ :href => "/bbs/misc.php?action=nav", :hidefocus => "true", :onclick => "showWindow('nav', this.href);return false;" }
            =t('discuz.navigation')
#nav
  %a(href="/bbs/index.php")=t('discuz.forum_name')
  &raquo;
  =t('discuz.gocool_app')

  = render "layouts/menu_body"
