%form.bp{:action=>upload_search_url, :name=>"searchByDescriptionForm", :method=>"get"}
  %fieldset.span-24.no-border
    = show_flash 'span-24' if search_by_description?

    .form_row.span-24
      %label(for="search_description")
        =t('upload_search.description_label')
      %input#search_description(type="text" name="description" size="80"){:value => @description}
      %input(type='hidden' name='search_type' value='description')
      %input.upload_submit{:type => "submit", :name => "commit", :value => t('form.search_button')}
      =reset_button

#uploads_by_description_container
  - if search_by_description?
    = render_uploads_widget @uploads

- content_for :footer do
  :javascript
    validanguage.el.search_description = {
      required: true,
      errorMsg: "#{t('upload_search.description_required')}"
    };
