%h1= @page_header || t('upload_search.page_header')

-# shortcuts: my uploads, today's uploads, yesterday' uploads, this week's uploads, last week's uploads etc.
-# search by description
-# search by upload time

= render :partial => "search_by_description"

%hr.space
#uploads_container
  - if @uploads
    = render :partial => "uploads", :locals => {:uploads => @uploads}
