-if flash[:success]
  %div{:class => container_class}
    .success=raw flash[:success]
-if flash[:notice]
  %div{:class => container_class}
    .notice=raw flash[:notice]
-if flash[:error]
  %div{:class => container_class}
    .error=raw flash[:error]