%a{:href => url}= t('link.download_sgf')
#gameContainer

- content_for :footer do
  - if @game.nil_or.current_user_is_player?
    :javascript
      jQuery(document).ready(function(){
        new GameController({container: "gameContainer"}).createGocoolPlayer().loadGocoolGame(#{@game.id}).setPlayerInterval(8).startUpdater();
      });
  - else
    :javascript
      jQuery(document).ready(function(){
        new GameController({container: "gameContainer"}).load("#{url}");
      });
