%a{:href => url}= t('link.download_sgf')
#gameContainer

- content_for :footer do
  :javascript
    jQuery(document).ready(function(){
      new GameController({container: "gameContainer"}).load("#{url}");
    });
