%tr{:id => "invitation_row_#{invitation.id}", :class => "record " + (invitation_counter%2 == 0 ? "even-record":"")}
  %td
    = invitation.status
  %td
    = invitation.inviter.username
  %td
    =h invitation.invitees
  %td
    = invitation.start_side
  %td
    =h invitation.note
  %td.actions
    &nbsp;
