.header_with_link
  .span-4
    %h1= t('invitations.page_header')
  %a(href="#{new_invitation_url}")
    = t('invitations.create_link_label')

%hr.space0

#invitations_container
  =render 'invitations'
