%div#message_container(style="margin:5px 0px; padding:2px; width:716px; max-height:240px; border:1px solid;")
%div#message_line(style="width:720px")
  #{t('games.message_label')}
  %input#message(type="text" name='message' size="80")
  %input#send_message(type="submit" value="#{t('games.send_message')}")

:javascript
  function addMessage(message) {
    jQuery('#message_container).prepend(message);
  }
