- if @game.current_user_is_player?
  %div#message_input_row
    %form#send_message_form{:action => send_message_game_url(@game), :method => 'post'}
      = t('games.message_label')
      %input#message(type="text" name='message' size="80")
      %input#send_message(type="submit" value="#{t('games.send_message')}")

%div#message_container
