%h1= @page_header || t('player.page_header')

-form_remote_tag :url => '/online_players/search', :update => 'players_result', :method => :get, :html => {:class => 'bp'} do
  .span-18
    %span
      %label(for="player_platform")
        = t('player.platform_label')
    %span
      =gaming_platforms_select 'platform'
    %span
      &nbsp;&nbsp;&nbsp;&nbsp;
      %label(for="player_username")
        = t('player.username_label')
    %span
      =text_field_tag 'username'
    %span
      =submit_tag t('form.search_button')
      
%hr.space
#players_result_container.span-18.active-scaffold.blue-theme
  #players_result

- content_for :footer do      
  = javascript_include_tag "jquery.livequery"
  :javascript
    jQuery(document).ready(function($) {
      $('div.pagination a').livequery('click', function() {
        $('#players_result').load(this.href);
        return false;
      });
    });