%h1= @page_header || t('player.page_header')

-remote_form_for :player do |form|
  .form_row.span-18
    %span
      %label(for="player_platform")
        = t('player.platform_label')
    %span
      =gaming_platforms_select form, 'platform'
    %span
      &nbsp;&nbsp;&nbsp;&nbsp;
      %label(for="player_username")
        = t('player.username_label')
    %span
      =form.text_field('username')
      
#players_result_container
  #players_result