/**
 * This file includes some sample CSS which you can use to style the error message fields
 * which are dynamically created by validanguage.  See the Validanguage Demo and Test Case
 * pages listed on http://drlongghost.com/vd_tests/index.php to see these CSS rules in action.
 */


.vdError span {
   color: red;
   padding-left: 20px;
   background-image:url(/images/red_error.gif);
   background-repeat: no-repeat;
   background-position: 0px 0px;
   vertical-align: top;   
}

#vdSubmitMessage {
   color: green;
   font-size: 9pt;
   font-weight: bold;
   padding-left: 20px;
   background-image:url(/images/ajax-loader.gif);
   background-repeat: no-repeat;
   background-position: 0px 0px;
   vertical-align: top;   
}

#vdErrorDiv {
   position: fixed;
   color: red;
   background-color: #EEEEEB;
   border: 2px solid red;
   padding: 15px;
   font-size: 10pt;
   top: 20%;
   right: 30%;
}
