#myslidemenu.jqueryslidemenu
  %ul
    %li
      %a{:href => "#"} Players
    %li
      %a{:href => "#"} Games
    %li
      %a{:href => "#"} Tournaments
      %ul
        %li
          %a{:href => "#"} Ying's Cup
        %li
          %a{:href => "#"} Samsung's Cup
  %br{:style => "clear: left"}